{{! -- Add Pagination -- }}

<nav class="pagination-nav clear" role="navigation">
    {{#if prev}}
        <a class="newer-posts btn btn-primary" href="{{page_url prev}}"><i class="i-back"></i> Nowsze posty</a>
    {{/if}}
    <span class="page-number">Strona {{page}} z {{pages}}</span>
    {{#if next}}
        <a class="older-posts btn btn-primary" href="{{page_url next}}">Starsze Posty <i class="i-forward"></i></a>
    {{/if}}
</nav>
